[submodule "python"]
	path = python
	url = git@git.magiclab.cz:pipeline/python.git
[submodule "pyblishdev"]
	path = pyblishdev
	url = https://github.com/jezscha/pyblishdev.git
[submodule "avalon-magiclab"]
	path = avalon-magiclab
	url = https://github.com/jezscha/avalon-magiclab.git
